# INSERTING DATA

#### Documentation Sample

In [ ]:
from __future__ import print_function
from datetime import date, datetime, timedelta
import mysql.connector

cnx = mysql.connector.connect(user='scott', database='employees')
cursor = cnx.cursor()

tomorrow = datetime.now().date() + timedelta(days=1)

add_employee = ("INSERT INTO employees "
               "(first_name, last_name, hire_date, gender, birth_date) "
               "VALUES (%s, %s, %s, %s, %s)")
add_salary = ("INSERT INTO salaries "
              "(emp_no, salary, from_date, to_date) "
              "VALUES (%(emp_no)s, %(salary)s, %(from_date)s, %(to_date)s)")

data_employee = ('Geert', 'Vanderkelen', tomorrow, 'M', date(1977, 6, 14))

# Insert new employee
cursor.execute(add_employee, data_employee)
emp_no = cursor.lastrowid

# Insert salary information
data_salary = {
  'emp_no': emp_no,
  'salary': 50000,
  'from_date': tomorrow,
  'to_date': date(9999, 1, 1)
}
cursor.execute(add_salary, data_salary)

# Make sure data is committed to the database
cnx.commit()

cursor.close()
cnx.close()

## CASE 1

In [3]:
import mysql.connector
from datetime import date, datetime

cnx = mysql.connector.connect(user='root', passwd = 'PASSWORD', host = 'localhost', database='employees_test_db')

cursor = cnx.cursor()

sql_command = "INSERT INTO employees (emp_no, birth_date, first_name, last_name, gender, hire_date) VALUES(%s, %s, %s, %s, %s, %s)"

employee1 = ("125", date(1992, 2, 1), "Saheen", "ajksdh", 'M', datetime.now().date())

cursor.execute(sql_command, employee1)

cnx.commit()

cursor.close()
cnx.close()

In [4]:
# QUERYING THE DATA FROM THE TABLE

import mysql.connector

cnx = mysql.connector.connect(user='root', passwd = 'PASSWORD', host = 'localhost', database='employees_test_db')

cursor = cnx.cursor()

cursor.execute("SELECT * FROM employees")

for i in cursor:
    print(i)

cursor.close()
cnx.close()

(123, datetime.date(1994, 6, 14), 'Raechel', 'Desaouza', 'F', datetime.date(2023, 7, 9))
(125, datetime.date(1992, 2, 1), 'Saheen', 'ajksdh', 'M', datetime.date(2023, 7, 9))

In [16]:
import mysql.connector
from datetime import date

cnx = mysql.connector.connect(user='root', passwd = 'PASSWORD', host = 'localhost', database='employees_test_db')

cursor = cnx.cursor()

sql_command = "SELECT * FROM employees WHERE birth_date > %s"
date = [date(1994, 1, 1)]

cursor.execute(sql_command, date)

for i in cursor:
    print(i)

cursor.close()
cnx.close()

(123, datetime.date(1994, 6, 14), 'Raechel', 'Desaouza', 'F', datetime.date(2023, 7, 9))