In [ ]:
https://dev.mysql.com/doc/connector-python/en/

### Execute

In [ ]:
import mysql.connector

cnx = mysql.connector.connect(user='root', passwd = 'PASSWORD', host = 'localhost')

cursor = cnx.cursor()

cursor.execute("CREATE DATABSE test_db")

cursor.close()
cnx.close()

### Query

In [4]:
import mysql.connector

cnx = mysql.connector.connect(user='root', passwd = 'PASSWORD', host = 'localhost')

cursor = cnx.cursor()

cursor.execute("SHOW DATABASES")

for i in cursor:
    print(i)

cursor.close()
cnx.close()

('bigdatabootcamp',)
('bikestore_production',)
('bikestore_sales',)
('class2_db',)
('employees_test_db',)
('food_delivery_app',)
('ineuron_sql',)
('information_schema',)
('mysql',)
('performance_schema',)
('python_connection',)
('sakila',)
('sql_assignment',)
('stored_procedure_bank',)
('sys',)
('test',)
('world',)

In [8]:
import mysql.connector

cnx = mysql.connector.connect(user='root', passwd = 'PASSWORD', host = 'localhost', database='employees_test_db')

cursor = cnx.cursor()

cursor.execute("SHOW tables")

for i in cursor:
    print(i)

cursor.close()
cnx.close()

('departments',)
('dept_emp',)
('dept_manager',)
('employees',)
('salaries',)
('titles',)

### INSERT

In [11]:
import mysql.connector

cnx = mysql.connector.connect(user='root', passwd = 'PASSWORD', host = 'localhost', database='employees_test_db')

cursor = cnx.cursor()

cursor.execute("DESCRIBE employees ")

for i in cursor:
    print(i)

cursor.close()
cnx.close()

('emp_no', b'int', 'NO', 'PRI', None, 'auto_increment')
('birth_date', b'date', 'NO', '', None, '')
('first_name', b'varchar(14)', 'NO', '', None, '')
('last_name', b'varchar(16)', 'NO', '', None, '')
('gender', b"enum('M','F')", 'NO', '', None, '')
('hire_date', b'date', 'NO', '', None, '')

In [17]:
import mysql.connector
from datetime import date, datetime

cnx = mysql.connector.connect(user='root', passwd = 'PASSWORD', host = 'localhost', database='employees_test_db')

cursor = cnx.cursor()

sql_command = "INSERT INTO employees (emp_no, birth_date, first_name, last_name, gender, hire_date) VALUES(%s, %s, %s, %s, %s, %s)"

employee1 = ("123", date(1994, 6, 14), "Raechel", "Desaouza", 'F', datetime.now().date())

cursor.execute(sql_command, employee1)

cnx.commit()

cursor.close()
cnx.close()

In [20]:
import mysql.connector

cnx = mysql.connector.connect(user='root', passwd = 'PASSWORD', host = 'localhost', database='employees_test_db')

cursor = cnx.cursor()

cursor.execute("SELECT * FROM employees")

for i in cursor:
    print(i)

cursor.close()
cnx.close()

(123, datetime.date(1994, 6, 14), 'Raechel', 'Desaouza', 'F', datetime.date(2023, 7, 9))