# QUERYING DATA

#### Documentation Example

In [ ]:
import datetime
import mysql.connector

cnx = mysql.connector.connect(user='scott', database='employees')
cursor = cnx.cursor()

query = ("SELECT first_name, last_name, hire_date FROM employees "
         "WHERE hire_date BETWEEN %s AND %s")

hire_start = datetime.date(1999, 1, 1)
hire_end = datetime.date(1999, 12, 31)

cursor.execute(query, (hire_start, hire_end))

for (first_name, last_name, hire_date) in cursor:
  print("{}, {} was hired on {:%d %b %Y}".format(
    last_name, first_name, hire_date))

cursor.close()
cnx.close()

#### Case 1

In [21]:
import mysql.connector

cnx = mysql.connector.connect(host = 'localhost', user = 'root', passwd = 'PASSWORD')
cursor = cnx.cursor()

query = ("SELECT order_id, cust_id, order_dat, shipper_id FROM bigdatabootcamp.orders ")

cursor.execute(query)

for (order_id, cust_id, order_dat, shipper_id) in cursor:
  print("{}, {}, {:%d-%m-%Y}, {}".format(order_id, cust_id, order_dat, shipper_id))

cursor.close()
cnx.close()

10308, 2, 15-09-2022, 3
10309, 30, 16-09-2022, 1
10310, 41, 19-09-2022, 2

#### Case 2

In [14]:
import mysql.connector

cnx = mysql.connector.connect(host = 'localhost', user = 'root', passwd = 'PASSWORD', database = "bikestore_sales")
cursor = cnx.cursor()

query = ("SELECT customer_id, first_name, city, state, zip_code FROM customers "
         "WHERE zip_code IN(%s)")

zip_code = [11553]

cursor.execute(query, zip_code)

for (customer_id, first_name, city, state, zip_code) in cursor:
  print("{}, {} is from city : {}, state : {} and zip code : {}".format(customer_id, first_name, city, state, zip_code))

cursor.close()
cnx.close()

4, Daryl is from city : Uniondale, state : NY and zip code : 11553
171, Miriam is from city : Uniondale, state : NY and zip code : 11553
296, Sophia is from city : Uniondale, state : NY and zip code : 11553
375, Yan is from city : Uniondale, state : NY and zip code : 11553
379, Mina is from city : Uniondale, state : NY and zip code : 11553
494, Pearl is from city : Uniondale, state : NY and zip code : 11553
909, Alita is from city : Uniondale, state : NY and zip code : 11553
1189, Sheila is from city : Uniondale, state : NY and zip code : 11553
1380, Eliz is from city : Uniondale, state : NY and zip code : 11553

### cursor.fetchall()

In [1]:
import mysql.connector

cnx = mysql.connector.connect(host = 'localhost', user = 'root', passwd = 'PASSWORD', database = "bikestore_sales")
cursor = cnx.cursor()

query = ("SELECT customer_id, first_name, city, state, zip_code FROM customers "
         "WHERE zip_code IN(%s)")

zip_code = [11553]

cursor.execute(query, zip_code)

result = cursor.fetchall()

for (customer_id, first_name, city, state, zip_code) in result:
  print("{}, {} is from city : {}, state : {} and zip code : {}".format(customer_id, first_name, city, state, zip_code))

cursor.close()
cnx.close()

4, Daryl is from city : Uniondale, state : NY and zip code : 11553
171, Miriam is from city : Uniondale, state : NY and zip code : 11553
296, Sophia is from city : Uniondale, state : NY and zip code : 11553
375, Yan is from city : Uniondale, state : NY and zip code : 11553
379, Mina is from city : Uniondale, state : NY and zip code : 11553
494, Pearl is from city : Uniondale, state : NY and zip code : 11553
909, Alita is from city : Uniondale, state : NY and zip code : 11553
1189, Sheila is from city : Uniondale, state : NY and zip code : 11553
1380, Eliz is from city : Uniondale, state : NY and zip code : 11553

### cursor.fetchone()

In [23]:
import mysql.connector

cnx = mysql.connector.connect(host = 'localhost', user = 'root', passwd = 'PASSWORD', database = "bikestore_sales")
cursor = cnx.cursor()

query = ("SELECT customer_id, zip_code FROM customers")

cursor.execute(query)

result = cursor.fetchone()

for row in result:
  print(row)


cnx.close()

1
14127

In [33]:
import mysql.connector

cnx = mysql.connector.connect(host = 'localhost', user = 'root', passwd = 'PASSWORD', database = "bikestore_sales")
cursor = cnx.cursor()

query = ("SELECT * FROM customers WHERE state='NY' LIMIT 5")

cursor.execute(query)

result = cursor.fetchall()

for row in result:
  print(row)

cnx.close()

(1, 'Debra', 'Burks', None, 'debra.burks@yahoo.com', '9273 Thorne Ave. ', 'Orchard Park', 'NY', '14127')
(4, 'Daryl', 'Spence', None, 'daryl.spence@aol.com', '988 Pearl Lane ', 'Uniondale', 'NY', '11553')
(6, 'Lyndsey', 'Bean', None, 'lyndsey.bean@hotmail.com', '769 West Road ', 'Fairport', 'NY', '14450')
(7, 'Latasha', 'Hays', '(716) 986-3359', 'latasha.hays@hotmail.com', '7014 Manor Station Rd. ', 'Buffalo', 'NY', '14215')
(8, 'Jacquline', 'Duncan', None, 'jacquline.duncan@yahoo.com', '15 Brown St. ', 'Jackson Heights', 'NY', '11372')