In [2]:
import sqlite3

In [3]:
db = sqlite3.connect("ineuron.db")

# Where ineuron.db is the file_name.format where we store the content (like a text file, hbere we use a db (Database) file, where 
# we store data in structured format)

In [4]:
db

In [4]:
ls

 Volume in drive C is Windows-SSD
 Volume Serial Number is 0AF0-D510

 Directory of c:\Users\sahee\OneDrive\Desktop\Repositories\Working-with-Databases-using-Python\SQLite - Python

05/17/2023  08:23 PM    <DIR>          .
05/17/2023  08:23 PM    <DIR>          ..
05/17/2023  08:23 PM                 0 ineuron.db
05/17/2023  08:16 PM             1,353 SQLite.txt
05/17/2023  08:19 PM                 0 test.ipynb
               3 File(s)          1,353 bytes
               2 Dir(s)  125,094,739,968 bytes free

In [7]:
# Here, we dont connect to any SQLite server. Instead the file is being operated and stored in the LOCAL SYSTEM in this case,
# also we can operate the SQLite db using in-memory (RAM, Cache memory) using a parameter while using the connect(file) statement.

In [5]:
cursor = db.cursor()

In [12]:
cursor.execute('CREATE TABLE course(name TEXT, batchid INT, marks REAL)')

In [16]:
ls

 Volume in drive C is Windows-SSD
 Volume Serial Number is 0AF0-D510

 Directory of c:\Users\sahee\OneDrive\Desktop\Repositories\Working-with-Databases-using-Python\SQLite - Python

05/17/2023  08:36 PM    <DIR>          .
05/17/2023  08:36 PM    <DIR>          ..
05/17/2023  08:36 PM             8,192 ineuron.db
05/17/2023  08:16 PM             1,353 SQLite.txt
05/17/2023  08:19 PM                 0 test.ipynb
               3 File(s)          9,545 bytes
               2 Dir(s)  125,095,882,752 bytes free

In [17]:
# Note that the size of the file ineuron.db has increased

In [12]:
cursor.execute('INSERT INTO course VALUES("FSDS",123,50)')

In [20]:
ls

 Volume in drive C is Windows-SSD
 Volume Serial Number is 0AF0-D510

 Directory of c:\Users\sahee\OneDrive\Desktop\Repositories\Working-with-Databases-using-Python\SQLite - Python

05/17/2023  08:40 PM    <DIR>          .
05/17/2023  08:40 PM    <DIR>          ..
05/17/2023  08:36 PM             8,192 ineuron.db
05/17/2023  08:40 PM             4,616 ineuron.db-journal
05/17/2023  08:16 PM             1,353 SQLite.txt
05/17/2023  08:19 PM                 0 test.ipynb
               4 File(s)         14,161 bytes
               2 Dir(s)  125,098,455,040 bytes free

In [21]:
# Note that another file has been created automatically -journal in reference to the INSERT Statement

In [9]:
cursor.execute('INSERT INTO course VALUES("FSDS",123,50)')
cursor.execute('INSERT INTO course VALUES("FSDS",124,40)')
cursor.execute('INSERT INTO course VALUES("FSDS",125,90)')
cursor.execute('INSERT INTO course VALUES("FSDS",126,10)')

In [13]:
cursor.execute('SELECT * FROM course')

In [14]:
cursor.fetchall()

[('FSDS', 123, 50.0),
 ('FSDS', 124, 40.0),
 ('FSDS', 125, 90.0),
 ('FSDS', 126, 10.0),
 ('FSDS', 123, 50.0)]

In [15]:
db.commit()

In [ ]:
# Note that the -journal file will be merged with <database.db> file when you commit()

In [16]:
db.close()

#### Querying the data from the table

In [17]:
import sqlite3

db = sqlite3.connect("ineuron.db")
cursor = db.cursor()

In [22]:
q = cursor.execute('SELECT * FROM course WHERE marks > 51')

In [23]:
for i in q:
    print(i)

('FSDS', 125, 90.0)

In [24]:
db.close()

In [25]:
# Creating a new db

In [26]:
db = sqlite3.connect('person.db')
cursor = db.cursor()

In [27]:
cursor.execute('CREATE TABLE person_table(name text, email text, age int, salary int)')

In [30]:
cursor.execute("INSERT INTO person_table VALUES('sudh','sudh@gmail.com',32,20000)")
cursor.execute("INSERT INTO person_table VALUES('sah','sah@gmail.com',28,20000)")
cursor.execute("INSERT INTO person_table VALUES('ahza','ahza@gmail.com',25,25000)")
cursor.execute("INSERT INTO person_table VALUES('raj','raj@gmail.com',32,30000)")
cursor.execute("INSERT INTO person_table VALUES('hiz','hiz@gmail.com',24,25000)")
cursor.execute("INSERT INTO person_table VALUES('far','far@gmail.com',21,10000)")

In [31]:
q = cursor.execute('SELECT * FROM person_table')

for i in q:
    print (i)

('sudh', 'sudh@gmail.com', 32, 20000)
('sah', 'sah@gmail.com', 28, 20000)
('ahza', 'ahza@gmail.com', 25, 25000)
('raj', 'raj@gmail.com', 32, 30000)
('hiz', 'hiz@gmail.com', 24, 25000)
('far', 'far@gmail.com', 21, 10000)

In [32]:
ls

 Volume in drive C is Windows-SSD
 Volume Serial Number is 0AF0-D510

 Directory of c:\Users\sahee\OneDrive\Desktop\Repositories\Working-with-Databases-using-Python\SQLite - Python

05/17/2023  09:15 PM    <DIR>          .
05/17/2023  09:15 PM    <DIR>          ..
05/17/2023  09:05 PM             8,192 ineuron.db
05/17/2023  09:11 PM             8,192 person.db
05/17/2023  09:15 PM             4,616 person.db-journal
05/17/2023  08:51 PM             1,440 SQLite.txt
05/17/2023  09:03 PM            10,057 test.ipynb
               5 File(s)         32,497 bytes
               2 Dir(s)  125,219,799,040 bytes free

In [33]:
db.commit()

In [34]:
db.close()

## JOIN OPERATIONS

In [5]:
import sqlite3

db = sqlite3.connect("jobdb.db")
cursor = db.cursor()

In [38]:
cursor.execute("CREATE TABLE student(student_id int, student_name text, student_mailid text, marks int)")

In [39]:
cursor.execute("CREATE TABLE address(student_id int, pincode int, location text, phone int)")

In [40]:
cursor.execute("INSERT INTO student VALUES(123, 'SAH', 'sah@gmail.com', 40)")
cursor.execute("INSERT INTO student VALUES(124, 'AHZA', 'ahza@gmail.com', 50)")
cursor.execute("INSERT INTO student VALUES(125, 'HIZ', 'hiz@gmail.com', 60)")
cursor.execute("INSERT INTO student VALUES(126, 'FAR', 'far@gmail.com', 70)")
cursor.execute("INSERT INTO student VALUES(127, 'FAT', 'fat@gmail.com', 40)")
cursor.execute("INSERT INTO student VALUES(128, 'ANV', 'anv@gmail.com', 50)")

In [41]:
cursor.execute("INSERT INTO address VALUES(123, '123456', 'TVM', 1234567890)")
cursor.execute("INSERT INTO address VALUES(124, '523226', 'KLM', 1234567890)")
cursor.execute("INSERT INTO address VALUES(125, '266263', 'EKM', 1234567890)")
cursor.execute("INSERT INTO address VALUES(126, '266226', 'TVM', 1234567890)")
cursor.execute("INSERT INTO address VALUES(127, '252652', 'MUM', 1234567890)")
cursor.execute("INSERT INTO address VALUES(128, '252556', 'DEL', 1234567890)")

In [42]:
q = cursor.execute('SELECT * FROM student')
for i in q:
    print(i)

(123, 'SAH', 'sah@gmail.com', 40)
(124, 'AHZA', 'ahza@gmail.com', 50)
(125, 'HIZ', 'hiz@gmail.com', 60)
(126, 'FAR', 'far@gmail.com', 70)
(127, 'FAT', 'fat@gmail.com', 40)
(128, 'ANV', 'anv@gmail.com', 50)

In [43]:
q1 = cursor.execute('SELECT * FROM address')
for i in q1:
    print(i)

(123, 123456, 'TVM', 1234567890)
(124, 523226, 'KLM', 1234567890)
(125, 266263, 'EKM', 1234567890)
(126, 266226, 'TVM', 1234567890)
(127, 252652, 'MUM', 1234567890)
(128, 252556, 'DEL', 1234567890)

In [45]:
cursor.execute("SELECT s.*, a.pincode, a.location, a.phone FROM student s JOIN address a ON s.student_id = a.student_id")

In [46]:
cursor.fetchall()

[(123, 'SAH', 'sah@gmail.com', 40, 123456, 'TVM', 1234567890),
 (124, 'AHZA', 'ahza@gmail.com', 50, 523226, 'KLM', 1234567890),
 (125, 'HIZ', 'hiz@gmail.com', 60, 266263, 'EKM', 1234567890),
 (126, 'FAR', 'far@gmail.com', 70, 266226, 'TVM', 1234567890),
 (127, 'FAT', 'fat@gmail.com', 40, 252652, 'MUM', 1234567890),
 (128, 'ANV', 'anv@gmail.com', 50, 252556, 'DEL', 1234567890)]

### Delete Operation

In [48]:
cursor.execute("DELETE FROM student WHERE student_id = 123")

In [49]:
q = cursor.execute('SELECT * FROM student')

for i in q:
    print(i)

(124, 'AHZA', 'ahza@gmail.com', 50)
(125, 'HIZ', 'hiz@gmail.com', 60)
(126, 'FAR', 'far@gmail.com', 70)
(127, 'FAT', 'fat@gmail.com', 40)
(128, 'ANV', 'anv@gmail.com', 50)

### Update Operation

In [52]:
cursor.execute("UPDATE student SET student_id = 300 WHERE student_name = 'HIZ'")

In [7]:
q = cursor.execute('SELECT * FROM student')

for i in q:
    print(i)

In [4]:
db.commit()